.hidden{
    display: none;
}
body{
    overflow: hidden;
    background-color: black;
}
@font-face {
    font-family: "LAB디지털";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}
@keyframes fadein {
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
    }
}
@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }  

::-webkit-scrollbar {
    display: none;
  }
/* Greeting */
.bgImage{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    z-index: -1;
    animation: fadein 2s;
}
.login-box{
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#login-form{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    animation: fadein 3s;

}
#login-form input{
    font-family: "LAB디지털";
    background-color: black;
    text-align: center;
}
#login-form input[type = "text"]{
    font-size: 20pt;
    width: auto;
    height: auto;
    border: 0;
    border-bottom: 3px double;
    color: aliceblue;
}
#login-form input[type = "submit"]{
    font-size: 20pt;
    width: 110px;
    margin-left: 10pt;
    color: aliceblue;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: black;
    border: 1;
    border-color: aliceblue;

}
#login-form ::placeholder{
    color: aliceblue;
    text-align: center;
}

/* FirstBox */
.firstbox{
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    animation: fadein 3s;

}
#greeting{
    width: auto;
    font-family: "LAB디지털";
}
#greeting button{
    border: 1;
    border-color: orange;
    font-family: "LAB디지털";
    font-size: 15pt;
    color: red;
    background-color: black;
}

/* SecondBox */
.secondbox{
    position: absolute;
    top: 26%;
    height: 27%;
    width: 100%;
    font-family: "LAB디지털";
    color: greenyellow;
    animation: fadein 3s;
}
#music{
    position: absolute;
    background-color: black;
    left: 5%;
    width: 14%;
    height: 30%;
    color: fuchsia;
    animation: fadein 3s;
}
#music #player{
    display: none;
}
#music img{
    margin: 5px 5px 5px 5px;
    height: auto;
    width: 20%;
}
#music span{
    position: absolute;
    bottom: 0%;
    left: 1%;
}


#todo-form{
    position: absolute;
    left: 27%;
    width: 16%;
    color: aliceblue;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
#todo-form input{
    font-family: "LAB디지털";
    background-color: black;
    text-align: center;
    width: 117%;
}
#todo-form input[type = "text"]{
    font-size: 15pt;
    height: auto;
    border: 2px solid greenyellow;
   color: greenyellow;
}
#todo-form ::placeholder{
    color: aliceblue;
    text-align: center;
}
#todobox{
    position: absolute;
    background-color: rgba(0, 0, 0, .7) ;
    width: 16%;
    height: 89%;
    top: 5%;
    left: 27%;
    list-style-type: none; 
    overflow-y: scroll;
    border: 2px solid greenyellow;
    font-size: 18pt;
}
.item{
    padding: 2px 2px;
    margin: 5px;
    align-items: center;
    background-color: var(--color-bg);
    border-radius: 20px;
}
.deletebutton{
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    align-self: center;
    line-height: 1;
    margin-right: 7px;
    margin-bottom: 3px;
    padding: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#targetbox{
    background-color: rgba(0, 0, 0, .7) ;
    position: absolute;
    left: 54%;  
    top: 5%;  
    width: 16%;
    height: 89%;
    list-style-type: square; 
    font-size: 22pt;
    border: 2px solid greenyellow;
}
#targetbox li{
    font-size: 20pt ;
    margin-top: 12px;
    margin-bottom: 7px;
}
#targetbutton{
    position: absolute;
    left: 54%; 
    width: 18.3%;
    border: 2px solid greenyellow;
    font-size: 17pt;
    color: aliceblue;
    background-color: black ;
    font-family: "LAB디지털";
}
.second-section{
    position: absolute;
    font-size: 17pt;
    width: 22%;
    height: 75%;
    top: 9%;
    right: 0%;
}
.clockbox{
    color: red;
}

.weatherbox{
    font-size: 18pt;
    color: black;
}






/* ThirdBox */
.thirdbox{
    position: absolute;
    bottom: 5%;
    height: 25%;
    width: 100%;
}
.first-section{
    position: absolute;
    color: aliceblue;
    width: 44%;
    height: 100%;
}
.first-section button{
    position: absolute;
    right: 3%;
    border-color: orange;
    font-size: 15pt;
    color: red;
    background-color: black;
}
#sticker{
    position:absolute;
    height: 50%;
    width: 10%;
    z-index: 1;
}
.quotebox{
    position: relative;
    background-color: rgb(160, 160, 38);
    left: 3%;
    top: 10%;
    width: 30%;
    height: 80%;
    color: black;
    filter: brightness(80%);
}

.quotebox h2{
    margin: 20px 10px 0px 10px;
}
.quotebox h2:nth-child(1){
    position: absolute;
    top: 1%;
}
.quotebox h2:nth-child(2){
    position: absolute;
    right: 1%;
    bottom: 2%;
}



.third-section{
    position: absolute;
    right: 7%;
    top: 13%;
    height: 69%;
    width: 12%;
}
.picturebox img{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #fbc531;
}


